doctype html
html
  head
    title Roxe - Communications Hub for the Internet of Things
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" 
      /! css
      link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" /
      link href="css/style.css" media="screen" rel="stylesheet" 
        link href="css/default.css" media="screen" rel="stylesheet" 
          script src="js/modernizr.custom.js" 
  body
    /! intro area
    #intro
      .container.col-lg-10
        ul.nav.navbar.pull-right
          li
            a href="/login"  Register / Login
      .intro-text
        .container
          .row
            .col-md-12
              .brand
                h1
                  a href="index"  Roxe
                .line-spacer
                p
                  span Communications Hub for the Internet of Things
    == yield
    footer style="margin-top:700px;" 
      .container
        .row
          .col-md-12
            p Copyright &copy;2014 Roxe. All rights reserved.
    /! js
    script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" 
    script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" 
    script src="js/jquery.smooth-scroll.min.js" 
    script src="js/jquery.dlmenu.js" 
    script src="js/custom.js" 

