<!DOCTYPE html>
<html>
  <head>
    <title>Roxe - Communications Hub for the Internet of Things</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="css/default.css" rel="stylesheet" media="screen">
    <script src="js/modernizr.custom.js"></script>
  </head>
  <body>
          <!-- intro area -->
          <div id="intro">
 <div class="container col-lg-10">
   <ul class="nav navbar pull-right">
     <li><a href="/login">Register / Login</a></li>
 </div>
   <div class="intro-text">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="brand">
             <h1><a href="index.html">Roxe</a></h1>
             <div class="line-spacer"></div>
             <p><span>Comm Hub for the Internet of Things</span></p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

	<%= yield %>
	<footer style="margin-top:700px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy;2014 Roxe. All rights reserved.</p>
				</div>
			</div>		
		</div>	
	</footer>
	 
	 <!-- js -->
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
        <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
	<script src="js/jquery.smooth-scroll.min.js"></script>
	<script src="js/jquery.dlmenu.js"></script>
	<script src="js/custom.js"></script>
  	
</html>
