          <!-- About -->
          <section id="about" class="home-section bg-white">
                <div class="container">
                          <div class="row">
                                  <div class="col-md-offset-2 col-md-8">
                                        <div class="section-heading">
                                         <h2>What is Roxe?</h2>
                                         <p>Roxe is a communications hub for the Internet of Things (IoT). Roxe makes it easy for IoT devices to share information with each other. No setup required! Feel free to sign up if want to get a key to make your data private, the choice is yours!</p>
                                        </div>
                                  </div>
                          </div>

          <div class="row" style="text-align:left;">
		<pre><span class="label label-primary">Post Syntax</span><p>http://www.roxehub.com/create/&lt;nodeName&gt;?key1=value1&key2=value2
Options: geo=yes will append Geo location data based on source IP to your post</p>
<span class="label label-primary">Post Example</span><p>Ex. http://www.roxehub.com/create/my_attic_sensor?temperature=72</p></pre>

                <pre><span class="label label-primary">Get Syntax</span><p>http://www.roxehub.com/get/&lt;nodeName&gt;</p>
<span class="label label-primary">Get Example</span><p>http://www.roxehub.com/get/my_attic_sensor
Returns: {"created":"2014-06-01T08:23:39.712Z", "nodeID":"my_attic_sensor", "content":{"temperature":"72"}}</p>
                </pre>
          </div>
          </section>
